html{
    background-color: black;
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
}
.first{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}
.motivationalpng{
    border: 5px solid white;
    width: 100%;
}
.second{
    margin-top: 150px;
    color: white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    width: 100%;
}
.Stonepng{
    border: 5px solid white;
    width: 50%;
}
